<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devgui2.devgui2_project" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.NoActionBar"
        android:supportsRtl="true"
        >
        <activity
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".DifficultySelect"
            android:label="@string/title_activity_difficulty_select" >
        </activity>
        <activity
            android:name=".CustomDifficulty"
            android:label="@string/title_activity_custom_difficulty" >
        </activity>
        <activity
            android:name=".GridGame"
            android:label="@string/title_activity_gridgame"
            android:screenOrientation="locked" >
        </activity>
        <activity
            android:name=".GridMakerTest"
            android:label="@string/title_activity_grid_maker_test" >
        </activity>
        <activity
            android:name=".WinScreen"
            android:label="@string/title_activity_win_screen"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>
